# Set

set is mutable in nature.

Set is an unordered collection of unique elements.


set doesn't support indexing and slicing.


set is defined inside the {} (curly-braces).

follows the FIFO concept to pop the data

In [2]:
empty_set={}
print(empty_set)

{}

In [6]:
#assigning element or an object in a set.
my_set={'a','b','c'}
my_set

{'a', 'b', 'c'}

In [7]:
#my_set={1}

In [8]:
# Set doesn't allow or supports the duplicate values in it .
# It only takes unique values , element in it.

my_set1={'a','b','b','c','d','e','d','e'}
my_set1

{'a', 'b', 'c', 'd', 'e'}

In [9]:
# A set can have a mixed values in it .

mixed_set={'as',1,2.3,(4,5,6),[4,5,6]True}
# set not allow list element in it becaz list is mutable and supports indexing and slicing where as set does not.

mixed_set

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1789287435.py, line 3)

In [10]:
#  set is unordered in nature by which the indexing of values or object or element is not possible.
mixed_set1={'as',1,2.3,(4,5,6),True}
print(mixed_set1)
print(len(mixed_set1))
print(type(mixed_set1))

{1, 2.3, 'as', (4, 5, 6)}
4
<class 'set'>

In [11]:
# Set is also itterable 
for i in mixed_set1:
    print(i)

1
2.3
as
(4, 5, 6)

In [12]:
# Does not support indexing 
for i in range(len(mixed_set1)):
    print("(",i,")", "mixed set values ",mixed_set1[i])

TypeError: 'set' object is not subscriptable

# Type-Casting

In [ ]:
my_list=[1, '1', 2, '2', 3, 3, 3, '3', '4', 4]
my_list

In [ ]:
#converting list into set 
# By using set() built-in funuction.
# The result we get here with the unique values ,no duplicate elements are present.
new_set=set(my_list)

#printing the new_set 
print(new_set)

In [ ]:
# creating a set of cities
my_cities={"Nagpur","Mumbai","Nashik","Pune"}
print(my_cities)
print("Type of data --",type(my_cities))
print("Lenght of element present =",len(my_cities))

In [ ]:
#Using list() function to convert the set
my_new_list=list(my_cities)

print(my_new_list)
print(type(my_new_list))

In [13]:
# Here we are having countries with its duplicates values

country_set={"India","US","US","India"}

# So, it prints only the unique values .
print(country_set)

{'India', 'US'}

# Function of Set

 'add',--   used to add a object or element in the set.
 'clear'--- used to clear the set data ,by which it gives us the empty set.
 'copy'---- used to copy the entire set 
 'difference (-) '--- gives us the uncommon values of data from a two or more sets.

 'difference_update',
 'discard',
 'intersection'- Gives the common values from a two set of data.
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop'--    used to remove the object in FIFO manner (first in first out) where as list supports LIFO(last in first out)
 'remove'-- used to remove the object from the set
 'symmetric_difference',
 'symmetric_difference_update',
 'union(|)'---- used to merge the data of one set with the other set of data. OR combines the two set data together. 
 'update------It is used to update the particular set.
  &--- it is used to print the common values from a two sets of data.

In [14]:
# (1) Using the add ()function
# support only 1 args
country_set.add("UK")

In [15]:
country_set

{'India', 'UK', 'US'}

In [16]:
# (2) Using the remove() function
country_set.remove("UK")

In [17]:
# Error occurs here becaz the element "China" is not present in the set and when we use remove in such case it gives error.
# Instead of this we can use discard() in such scenarios not to get errors.as done below :-
country_set.remove("China")
print(country_set)

KeyError: 'China'

In [18]:
# (3) using discard() function

country_set.discard("China")
country_set

{'India', 'US'}

In [19]:
#(4) using pop() function to remove the element froma set . So its follow FIFO

test_set={1,2,2,3,4,8,9}
print(test_set)
print("Length is ",len(test_set))

print()

test_set.pop()
print("Set after using pop () function")
print(test_set)

{1, 2, 3, 4, 8, 9}
Length is  6

Set after using pop () function
{2, 3, 4, 8, 9}

In [20]:
# shows error becaz of unsupported indexing ,while in list we can pop() the element by providing index value as a argument in pop().
test_set.pop(3)

TypeError: set.pop() takes no arguments (1 given)

In [21]:
#(5) using clear()
 
test_set.clear() # it removes all the element from a set and gives us a blank set.

print(test_set)

set()

In [22]:
"India" in country_set

True

In [23]:
"India" not in country_set

False

In [24]:
"UK" not in country_set

True

In [25]:
# here we have 3 sets of data.

MH_cities={"Nagpur","Mumbai","Nashik"}
Goa_cities={"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}


MH_cities & western_region_cities
# & operator gives us the common elements or objects from the 2 set.

{'Mumbai', 'Nagpur'}

In [26]:
# this give only set() function becaz there is no common elements present in this set.
MH_cities & Goa_cities

set()

In [27]:
# gives the uncommon elements from sets. 
western_region_cities.difference(Goa_cities)

{'Mumbai', 'Nagpur', 'Pune'}

In [28]:
MH_cities-western_region_cities

{'Nashik'}

In [29]:
# Gives the common element as like &.
western_region_cities.intersection(MH_cities)

{'Mumbai', 'Nagpur'}

In [30]:
# union ( ) combines all the element  of sets together.
MH_cities.union(western_region_cities)

{'Mumbai', 'Nagpur', 'Nashik', 'Panjim', 'Pune', 'Vasco'}

In [35]:
# this | symbols works the same as union ()function.
MH_cities|western_region_cities

{'Mumbai', 'Nagpur', 'Nashik', 'Panjim', 'Pune', 'Vasco'}

In [38]:
# the best example for its mutability.
MH_cities.update({"Wardha"})

In [39]:
MH_cities

{'Mumbai', 'Nagpur', 'Nashik', 'W', 'Wardha', 'a', 'd', 'h', 'r'}

In [41]:
coding_languages = {'python', 'java', 'c', 'c++'}
ds_languages = {"python", 'r'}

#(a) What are all programming languages are available?
print("All languages    " , coding_languages.union(ds_languages)) # here we can use ( | ) symbol to get the same resul
print()

#(b) How many data science languages are available?
print("Data Science languages count   " , len(ds_languages))
print()

#(c) List languages which are not data science languages?
print("Languages which are not data science languages    " , coding_languages.difference(ds_languages)) # we can (-) in place of difference to get the same output
print()

#(d) List languages which are both programming language and data science languages.
print("languages which are both programming language and data science languages    " , coding_languages & ds_languages)
print()


#(e) List languges which are only data science languages.
print("Only data science languages    " , ds_languages - coding_languages)
print()

All languages     {'r', 'c++', 'python', 'java', 'c'}

Data Science languages count    2

Languages which are not data science languages     {'java', 'c', 'c++'}

languages which are both programming language and data science languages     {'python'}

Only data science languages     {'r'}

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']