# DATA TYPE

In [1]:
str=  "12345","^$","python"
int= 834,34
float=5.5,0.5
complex = 34 +8j  # combination of real and imaginary numbers.
bool= True ,False # the value of true is always 1 and value for false is always 0.

tuple = ()
list=[]
set = {}
dict= {}

In [2]:
# We have error because string must be in single-cots or in a double-cots.
print (hello python !!)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1457396695.py, line 2)

In [6]:
print("Hello Python")

Hello Python

# Built -in Functions

In [5]:
print()
len()
max()
min()
type()
range()
input()
str()
int()
float()
bool()
list()
set()
tuple()
dict()
all()
zip()
dir()

TypeError: len() takes exactly one argument (0 given)

# variables

In [7]:
name='Saurabh'

In [8]:
# Variable name can't be start with numbers
# as we try variable assign by numbers in prefix ,it gives syntax error.
1name="vrushab"

SyntaxError: invalid decimal literal (395208377.py, line 1)

In [3]:
# while assigning the variable name there should not be space in it .
# if we provide space in varible name than it gives error.
last name ="Moon"

SyntaxError: invalid syntax (3009550845.py, line 3)

In [10]:
last_name="moon"

In [11]:
#  Special characters are not allowed while assigning the variable name.
# if we uses it ,again Error occurs. 
age@ = 30

SyntaxError: invalid syntax (4267101250.py, line 1)

In [12]:
age2 = 25

In [13]:
_ = "bcom"

In [14]:
# number can't be a variable name.

7 = 80

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2591356202.py, line 1)

In [15]:
_7 = 80

In [16]:
name

'Saurabh'

In [17]:
age2

25

In [18]:
_7

80

In [19]:
_

'bcom'

In [20]:
type(_)

str

In [21]:
type(_7)

int

In [22]:
type(age2)

int

In [23]:
type(name)

str

In [24]:
x = 10
y = 20
z = 30

In [25]:
x

10

In [26]:
y

20

In [27]:
z

30

In [28]:
# to assign the  mutliple variables and their values in same time 

x,y,z = 20,30,40

In [29]:
print("All variables values are -----",x,y,z)

All variables values are ----- 20 30 40

In [30]:
# to print all the above data at same

print("This variable contains-------",name,age2,_,_7,x,y,z)

This variable contains------- Saurabh 25 bcom 80 20 30 40

# Maths operators

In [ ]:
# this are uses to calculate or to solve the maths problems or calculations
+ (#addtion)
-  (#substration)
* (#Multiplication)
/  (#Division)
= (# equal to ,it is uses to assign the values to a variables)
> (# greater than)
< (# less than)
>= (# greater than equal to)
<= (# less than equal to)
!= (#not equal to )
**(# uses to get the power cube number of any assign values)
% (# gives the mod values of a number)
// (# gives the quotient value of a number )

In [31]:
a=100
b=200
c=300

In [32]:
a+b

300

In [33]:
a*b

20000

In [34]:
c-a

200

In [35]:
a+b+c

600

In [36]:
# this equation is ini simple form which doesn't follow the bodmas 
a+b+c/x

315.0

In [37]:
#follows the proper bodmas
(a+b+c)/x

30.0

In [38]:
y,c

(30, 300)

In [39]:
y/c

0.1

In [40]:
0/1

0.0

In [41]:
# this gives an error here becaz zero can't be divisible by any number 
1/0

ZeroDivisionError: division by zero

In [42]:
a,b,y,c

(100, 200, 30, 300)

In [43]:
a*b*y+c

600300

In [44]:
a*2

200

In [45]:
a**1

100

In [46]:
a**2

10000

In [47]:
a**3

1000000

In [48]:
pow(x,2)

400

In [49]:
pow(x,3)

8000

In [50]:
10%2

0

In [51]:
3%2

1

In [52]:
0/1

0.0

In [53]:
10//2

5

In [54]:
3//2

1

In [55]:
5//2

2

In [56]:
a1=10
b1=2
print("a1%b1 = ",a1%b1)
print("a1//b1 = ",a1//b1)

a1%b1 =  0
a1//b1 =  5

# Logical Operator

In [71]:
and 
or
not
in
not in
if 
else
elif
>
<
>=
<=
!=
==

SyntaxError: invalid syntax (861566314.py, line 1)

In [57]:
a>b

False

In [58]:
c>b

True

In [59]:
"a" in name

True

In [60]:
"z" not in name

True

In [61]:
"z" in name

False

In [62]:
a>b or b>c

False

In [63]:
a>b or c>b

True

In [64]:
True + True +True - True + False

2

In [66]:
len(name)

7

In [67]:
str(name)

'Saurabh'

In [68]:
bool(name)

True

In [69]:
bool(y)

True

In [70]:
bool(5)

True

In [71]:
bool(000)

False

In [73]:
bool(50)

True

In [74]:
bool(panda)

NameError: name 'panda' is not defined