# OUTPUT Method

 * print() function to print output.

In [2]:
print("Hello,Welcome to the output class .")

Hello,Welcome to the output class .

In [3]:
type(print)

builtin_function_or_method

In [4]:
print('Single quotes line also works here as a string')

Single quotes line also works here as a string

In [5]:
type('Single quotes line also works here as a string')

str

In [7]:
print(' Multiple line can \n also be printed')

 Multiple line can
 also be printed

In [8]:
print('String concatenate','also','works')

String concatenate also works

In [10]:
#here the error will occur becaz we can not pass the n numbers of args here
type('String concatenate','also','works')

TypeError: type.__new__() argument 2 must be tuple, not str

In [11]:

type(('String concatenate','also','works'))

tuple

In [12]:
# this will treat as a string here becaz we have printed the arg in single quotes.
print('3+5')

3+5

In [13]:
# normal addition code has perfomed
print(3+4)

7

In [14]:
print("3 + 4 = ",(3+4))

3 + 4 =  7

In [15]:
print('Name','age',35,'ABC')

Name age 35 ABC

In [16]:
print("This","is","first","line")

This is first line

In [17]:
# Here the output function has printed the string by seprating it with the comma.
print("This","is","first","line",sep=",")

This,is,first,line

In [21]:
#This works when two or more strings are used in a same line .
print("This is for pratice "," lets try once again ",sep="@")

This is for pratice @ lets try once again

In [22]:
# here we used end parameter by which the first string ended by the fullstop or terminated the first with this(.)and continue the second  in same line.  
print("This is first line",end=".")
print("This is second line")

This is first line.This is second line

In [27]:
for i in range(0,5):
    print(i,"*",end=" ")

0 * 1 * 2 * 3 * 4 *

# Data type and typecasting

In [28]:
1
type(1)

int

In [29]:
23.56
type(23.56)

float

In [30]:
'Saurabh'
type('Saurabh')

str

In [31]:
True
type(True)

bool

In [32]:
False
type(False)

bool

In [34]:
#import is a keyword used to access or to import the package in a program
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# TypeCasting

In [38]:
int(10.5)

10

In [39]:
float('123')

123.0

In [40]:
float(234)

234.0

In [42]:
str('sa23')

'sa23'

In [43]:
str(2=4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (4209203518.py, line 1)

In [45]:
str('sau24')

'sau24'

In [46]:
bool(1)

True

In [47]:
int(True)

1

In [48]:
float(True)

1.0

In [49]:
int(False)

0

In [50]:
float(False)

0.0

In [51]:
bool(-1)

True

In [52]:
type(2-4.2+6)

float

In [53]:
list1=list(range(0,10))

In [54]:
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
#converting list into set 
set(list1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [56]:
type(list1)

list

In [57]:
type(set(list1))

set

In [4]:
num1=eval(input("Enter the first number "))
num2=eval(input("Enter the second number "))
a=num1+num2
b=num1-num2
c=num1*num2
d=num1/num2
e=num1%num2
f=num1//num2
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

Enter the first number 2
Enter the second number 2
4
0
4
1.0
0
1

In [5]:
num1=3
num2=6
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)
print(num1==num2)
print(num1!=num2)

False
True
False
True
False
True

In [7]:
# simple interest 
p=eval(input("Enter the principal amount  "))
n=eval(input("Enter number of months   "))
r=eval(input("enter the rate of interest %  "))
si=(p*r*n)/100
print("The si = ",si)

Enter the principal amount  20
Enter number of months   30
enter the rate of interest %  44
The si =  264.0

In [10]:
#converting kg weight in pounds-weight
weight=eval(input("enter the weight of the object "))
weight_in_pound=weight*2.2

print("Weight is ",weight,"so its weight in pound is ",weight_in_pound)
print(weight,"kg =",weight_in_pound,"pounds")

enter the weight of the object 59
Weight is  59 so its weight in pound is  129.8
59 kg = 129.8 pounds

In [ ]:
number = int(input("Enter a four digit number --"))

sum_of_digits = 0 

digit1 = number % 10
sum_of_digits = sum_of_digits + digit1
number = int(number / 10 )

print(number,  sum_of_digits,  digit1)

In [2]:
number = int(input("Enter a four digit number --"))

sum_of_digits = 0 

digit1 = number % 10
print(number ,digit1)

Enter a four digit number --4567
4567 7

In [14]:
number=eval(input("enter the four digit number here "))

sum_of_digit=0

digit1=number%10
sum_of_digit=sum_of_digit+digit1
number=int(number/10)
print("digit 1 is ",digit1,"number = ",number)

digit2=number%10
sum_of_digit=sum_of_digit+digit2
number=int(number/10)
print("digit 2 is ",digit2,"number = ",number)

digit3=number%10
sum_of_digit=sum_of_digit+digit3
number=int(number/10)
print("digit 3 is ",digit3,"number = ",number)

digit4=number%10
sum_of_digit=sum_of_digit+digit4
number=int(number/10)

#print("digit.1 = ",digit1,"sum_of_digit = ",sum_of_digit,"number = ",number,sep=" @ ")
print("digit 4 is ",digit4,"number = ",number)
print("sum of digit is ",sum_of_digit)

enter the four digit number here 1432
digit 1 is  2 number =  143
digit 2 is  3 number =  14
digit 3 is  4 number =  1
digit 4 is  1 number =  0
sum of digit is  10