# Dictionary

(1) In Python, a dictionary is a built-in data type that allows you to store a collection of key-value pairs.

(2) Each key in a dictionary is unique and associated with a specific value.

(3) dictionaries are mutable in Python.

(4) Syntax :-
    variable_name={key:value}

example:- my_name={name:"Saurabh"}

In [1]:
empty_dict={}
print(empty_dict)

{}

In [2]:
my_dict={'Jan':31,'Feb':28,'March':30,'April':31}

In [3]:
my_dict

{'Jan': 31, 'Feb': 28, 'March': 30, 'April': 31}

In [4]:
# indexing can be done through it key 
my_dict['Jan']

31

In [5]:
my_dict.get('Feb')

28

In [6]:
# it will note give error as like discard we saw in set

my_dict.get('Aug')

In [8]:
# keys can be anything number or string

my_dict2={1:'Jan',2:'Feb',3:'March',4:'April'}
my_dict2

{1: 'Jan', 2: 'Feb', 3: 'March', 4: 'April'}

In [15]:
my_dict2[1]

'Jan'

In [16]:
# taking tuple as a key 
dict3 = {(1, 2019) : 'Jan', (2, 2019):'Feb'}  
dict3

{(1, 2019): 'Jan', (2, 2019): 'Feb'}

In [18]:
# List can't take as a key in dictionary becaz list is mutable in nature.
dict4 = {[1, 2019] : 'Jan', [2, 2019]:'Feb'}  #keys cannot be list
dict4

TypeError: unhashable type: 'list'

In [19]:
# Converting list into dictionary
d = dict([('A',1), ('B',2), ('C',3)])
d

{'A': 1, 'B': 2, 'C': 3}

In [102]:
my_dict = {'Jan': 31, 'Feb':28, 'March': 31, 'Apr':30} # keys are strings
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

In [22]:
# to access the key we have a function called key() used to get all the keys from dictionary. 
my_dict.keys()

dict_keys(['Jan', 'Feb', 'March', 'Apr'])

In [25]:
# To access the values of a key we have a values() function to get all the values.
my_dict.values()

dict_values([31, 28, 31, 30])

In [29]:
# get () function is used to get the particular keys value from a dictionary.
my_dict.get('Apr')

30

In [31]:
# itmems() function is used to get all the keys and values from a dictionary.
my_dict.items()

dict_items([('Jan', 31), ('Feb', 28), ('March', 31), ('Apr', 30)])

In [41]:
#update() function is used to update the dictionary when we have atleast 2 dictionary. & updating 2nd dictionary elements in 1st dictionary.
my_dict.update(my_dict2)

In [40]:
my_dict

{'Jan': 31,
 'Feb': 28,
 'March': 31,
 'Apr': 30,
 1: 'Jan',
 2: 'Feb',
 3: 'March',
 4: 'April'}

In [103]:
# pop() function is used to remove out the particular key and its value from a dictionary
my_dict.pop('Jan')

31

In [104]:
my_dict

{'Feb': 28, 'March': 31, 'Apr': 30}

In [47]:
#if not provided anything then automatically removes the last element of a dictionary.
my_dict.popitem()

(4, 'April')

In [53]:
#setfault() function is used to provide the default value to a value of key when not present.
my_dict.setdefault("May")

In [52]:
my_dict

{'Jan': 31,
 'Feb': 28,
 'March': 31,
 'Apr': 30,
 2: 'Feb',
 3: 'March',
 'May': None}

In [54]:
# checking for element present or not
'Jan' in my_dict

True

In [55]:
'sept' in my_dict

False

In [56]:
'Aug' not in my_dict

True

In [89]:
# itterating the dictionary
for i in my_dict.items():
    print(i)
    
print(type(i))

type(my_dict)

('Jan', 31)
('Feb', 28)
('March', 31)
('Apr', 30)
(2, 'Feb')
(3, 'March')
('May', None)
<class 'tuple'>

dict

In [96]:
#converting the dict into tuple then indexing to get the particular values

t_dict=tuple(my_dict.items())

print(t_dict)

t_dict[0:4:2]

print(t_dict[0][1]) # here i get the value of Jan

(('Jan', 31), ('Feb', 28), ('March', 31), ('Apr', 30), (2, 'Feb'), (3, 'March'), ('May', None))
31

In [97]:
type(my_dict)

dict

In [107]:
# clear() function is  used to cleared the data of dictionary and gives us the empty dictionary.
 my_dict.clear()

IndentationError: unexpected indent (2906541089.py, line 2)

In [108]:
my_dict

{}

In [109]:
letter_dict = { 'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, "M":1000}
letter_dict

{'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}

In [110]:
for i in letter_dict:
    print(i)

I
V
X
L
C
D
M

In [113]:
for i in letter_dict.keys():
    print(i)

I
V
X
L
C
D
M

In [122]:
# gettings it values 
for i in letter_dict.values():
    print(i)

   
print()
print(i)

1
5
10
50
100
500
1000

1000

In [121]:
# now getting both key and its values.
for i in letter_dict.items():
    print(i)
    
    

print()    
print(i)

('I', 1)
('V', 5)
('X', 10)
('L', 50)
('C', 100)
('D', 500)
('M', 1000)

('M', 1000)

In [124]:
#through indexing. getting keys and its value

for i in letter_dict.keys():
    print(i,"  ",letter_dict[i])

I    1
V    5
X    10
L    50
C    100
D    500
M    1000