### input( ) function

It is a built-in function.Which is used to take input from the users.

In [1]:
input()

50

'50'

In [2]:
# by-default input take the type str 
type(input())

50

str

In [3]:
input('saurabh')

saurabhmoon

'moon'

In [ ]:
#assigning or storing the information in a variable
a1=input('Enter your name here ')
print("Hello ",a1)
print("Welcome to the input class")
b1=input("How was the class")
print("The class was",b1)

print("Thank you for the feedback",a1)

In [1]:
#assigning or storing the information in a variable
a1=input('Enter your name here ')
print("Hello ",a1)
print("Welcome to the input class")
b1=input("How was the class")
print("The class was",b1)

print("Thank you for the feedback",a1)

Enter your name here Saurabh
Hello  Saurabh
Welcome to the input class
How was the classgreat & informative
The class was great & informative
Thank you for the feedback Saurabh

In [3]:
print(a1,type(a1))
print(b1,type(b1))

Saurabh <class 'str'>
great & informative <class 'str'>

In [4]:
print(len(a1))

7

In [5]:
print(len(b1))

19

In [6]:
list(b1)

['g',
 'r',
 'e',
 'a',
 't',
 ' ',
 '&',
 ' ',
 'i',
 'n',
 'f',
 'o',
 'r',
 'm',
 'a',
 't',
 'i',
 'v',
 'e']

In [7]:
list(a1)

['S', 'a', 'u', 'r', 'a', 'b', 'h']

In [18]:
# taking the integer and float values in input function
a=int(input("Enter the number "))
print(a)
#sqauring the given number 
sq=a**2
print("The square of "+ str(a) +" is " ,str(sq))
#cubing the number 
cube= pow(a,3)
print("The cube of "+str(a )+" is ",str(cube))

Enter the number 3
3
The square of 3 is  9
The cube of 3 is  27

In [20]:
c=float(input("enter the value "))
type(c)

enter the value 20.6

float

In [ ]:
age=input("what is your age")
print("you have entered age as",age)
print("type :- ",type(age))

In [24]:
age=float(input("enter your age here "))
print("Your age is ",age)
print("Type :- ",type(age))

enter your age here 45.6
Your age is  45.6
Type :-  <class 'float'>

In [1]:
#eval :- this bulit-in function is used to automatically convert the  correct datatype 

eval_1=eval(input())
type(eval_1)

20

int

In [3]:
my_age=eval(input("Enter your age please "))
print("your age is ",my_age)
print("type :- ",type(my_age))

Enter your age please 36.8
your age is  36.8
type :-  <class 'float'>

In [8]:
total_mark=eval(input("enter your marks here "))
print("your total marks are :-",total_mark)

enter your marks here 50+30+40
your total marks are :- 120

In [2]:
# finding average of number using eval built_in function
num_1=eval(input("enter the  first number"))
num_2=eval(input("enter the second number"))
num_3=eval(input("enter the 3rd number"))
total=num_1+num_2+num_3
avg=total/3

print("The addtion of values are ",total)
print("Type :-",type(total))
print("The average of given numbers are ",(avg))
print("Type :-",type(avg))

enter the  first number20
enter the second number20
enter the 3rd number20
The addtion of values are  60
Type :- <class 'int'>
The average of given numbers are  20.0
Type :- <class 'float'>

In [4]:
# doubt about eval does it takes by default float as its data type ?
basic_sal=eval(input("enter your salary :-"))
hra=0.1 *basic_sal
conv_allowence=0.3 * basic_sal
total_gross_sal=basic_sal + hra+ conv_allowence

print("Basic Salary is :- ",basic_sal)

print("Type :-",type(basic_sal))
print("--------")
print("HRA is :- ",hra)
print("type :- ",type(hra))
print("---------")
print("conv_allowence :- ",str(conv_allowence))
print("Type :- ",type(conv_allowence))
print("---------")
print("Gross Salary :- ",total_gross_sal)

enter your salary :-30000.50
Basic Salary is :-  30000.5
Type :- <class 'float'>
--------
HRA is :-  3000.05
type :-  <class 'float'>
---------
conv_allowence :-  9000.15
Type :-  <class 'float'>
---------
Gross Salary :-  42000.700000000004

In [5]:
# range() is a built-in function uses in itterate or loop for going from start point to the end point of the loop.
# So,the range() function is always n-1
range(10)

range(0, 10)

In [6]:
print(range(10))

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(1,50,2)) # here 2 is mention just to skip the values by 2 numbers or to step the values by 2.

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [10]:
list(range(5,20,5))

[5, 10, 15]

In [11]:
list(range(2,9.8,2))# here it will give us the error becaz our end piont of range is in the float .

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
list(range(int(2.4),int(20.8),1))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
list(range(1,20,-3)) # it will give the empty list becaz the loop goes in reverse

[]

In [16]:
list(range(20,1,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [17]:
name="Saurabh"
print(type(name))

<class 'str'>

In [18]:
len(name)

7

In [24]:
list(range(len(name)-2))

[0, 1, 2, 3, 4]

In [25]:
list1=range(0,10)

In [26]:
print(list1)

range(0, 10)

In [27]:
list1=[1,2,3,4,5,6,7,8,9]
print("maximum number in list :- ",max(list1))
print("Minimum number in list :- ",min(list1))

maximum number in list :-  9
Minimum number in list :-  1

In [28]:
sum(list1)

45

In [33]:
sorted(list1,reverse=False)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
sorted(list1,reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1]