# List

(1) A list is a data structure that allows you to store a collection of items.


(2) Lists are ordered and mutable, which means you can change their contents (add, remove, or modify elements) after they are created. 


(3)Lists are defined using square brackets [] and can contain elements of different data types, including numbers, strings, and other objects.

In [1]:
#assigning the empty list
empty_list=[]
empty_list

[]

In [2]:
#We can call the empty list with its list data-type also
other_empty_list=list()
other_empty_list

[]

In [3]:
#assigning the values in a list or creating a list which contains numbers.
my_number_list=[1,2,3,4,5]
my_number_list

[1, 2, 3, 4, 5]

In [4]:
# We can assign the mixed list which can contain string,numbers,tuple,set,list,boolean value  inside the list .
mixed_list=[1,2,3.5,[6,5,4],('a','b','c'),"Saurabh"]
mixed_list

[1, 2, 3.5, [6, 5, 4], ('a', 'b', 'c'), 'Saurabh']

In [5]:
mixed_list[3][2]

4

In [6]:
mixed_list[5][3]

'r'

In [7]:
type(mixed_list)

list

In [8]:
# checking the data - type of mixed list which the different type of values in it through their index number.
type(mixed_list[3])

list

In [9]:
type(mixed_list[2])

float

In [10]:
# lenght of the list can be checked with the help of len()function
len(mixed_list)

6

In [11]:
my_number_list

[1, 2, 3, 4, 5]

In [12]:
# list can be multiple
list2=[1,2,3]*3
list2

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:

# List concatinating .....or joining the 2 or more list in a particular list.
list1=['a','b','c']
list2=[1,2,3]
join_list=list1 + list2
print(join_list)

['a', 'b', 'c', 1, 2, 3]

In [14]:
#here its repeats or multiples the values present in a list 
print([-1]*4)
[0]*5

[-1, -1, -1, -1]

[0, 0, 0, 0, 0]

# indexing in a list

In [15]:
mixed_list

[1, 2, 3.5, [6, 5, 4], ('a', 'b', 'c'), 'Saurabh']

In [16]:
# gives the first  indexing value from a list
mixed_list[0]

1

In [17]:
# Gives the 3rd indexing position value from a list
mixed_list[3]

[6, 5, 4]

In [18]:
mixed_list[len(mixed_list)-1]

'Saurabh'

In [19]:
print(mixed_list[2],"    ",mixed_list[-4])
print(mixed_list[3],"    ",mixed_list[-3])
print(mixed_list[4],"    ",mixed_list[-2])

3.5      3.5
[6, 5, 4]      [6, 5, 4]
('a', 'b', 'c')      ('a', 'b', 'c')

# List (Slicing)

In [20]:
mixed_list

[1, 2, 3.5, [6, 5, 4], ('a', 'b', 'c'), 'Saurabh']

In [21]:
mixed_list[:]

[1, 2, 3.5, [6, 5, 4], ('a', 'b', 'c'), 'Saurabh']

In [22]:
mixed_list[0:]

[1, 2, 3.5, [6, 5, 4], ('a', 'b', 'c'), 'Saurabh']

In [23]:
# starting the index from index number 2 and lenght number 3 of a list
mixed_list[2:]

[3.5, [6, 5, 4], ('a', 'b', 'c'), 'Saurabh']

In [24]:
mixed_list[1:6]

[2, 3.5, [6, 5, 4], ('a', 'b', 'c'), 'Saurabh']

In [25]:
mixed_list[1:5]

[2, 3.5, [6, 5, 4], ('a', 'b', 'c')]

In [26]:
mixed_list[0:4]

[1, 2, 3.5, [6, 5, 4]]

In [27]:
# reversing the list
mixed_list[::-1]

['Saurabh', ('a', 'b', 'c'), [6, 5, 4], 3.5, 2, 1]

In [28]:
# steps or skipping the values can be done
mixed_list[::-2]

['Saurabh', [6, 5, 4], 2]

In [29]:
mixed_list[-1:-5:-1]

['Saurabh', ('a', 'b', 'c'), [6, 5, 4], 3.5]

In [30]:
mixed_list[-6:-1:-1]

[]

# List (Operators)

In [31]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [32]:
1 in mixed_list

True

In [33]:
12 in mixed_list

False

In [34]:
22 not in mixed_list

True

In [35]:
# list can be itterate with the help of loops.
for i in mixed_list:
    print(i)

1
2
3.5
[6, 5, 4]
('a', 'b', 'c')
Saurabh

In [36]:
for i in range(len(mixed_list)):
    print("(",i,")","element------- ",mixed_list[i])

( 0 ) element-------  1
( 1 ) element-------  2
( 2 ) element-------  3.5
( 3 ) element-------  [6, 5, 4]
( 4 ) element-------  ('a', 'b', 'c')
( 5 ) element-------  Saurabh

In [37]:
my_number_list

[1, 2, 3, 4, 5]

In [38]:
# addition of list values can be done with the help of sum function
sum(my_number_list)

15

In [39]:
list1=[1,2,3,4]
print("list1 = ",list1)
print()

list2=list1
print("list1 = ",list1)
print("list2 = ",list2)

print()

# as we change the first position of list1 ,the list2 also gets changed as the we defined list2=list1 so.
list1[0]='a'
print("list1 = ",list1)
print("list2 = ",list2)
print()

# If we change in list2 ,list1 aslo gets change.
list2[3]="****"
print("list1 = ",list1)
print("list2 = ",list2)

list1 =  [1, 2, 3, 4]

list1 =  [1, 2, 3, 4]
list2 =  [1, 2, 3, 4]

list1 =  ['a', 2, 3, 4]
list2 =  ['a', 2, 3, 4]

list1 =  ['a', 2, 3, '****']
list2 =  ['a', 2, 3, '****']

In [42]:
#appending or adding the value in list
t=5
number_list=[]
for i in range(t):
    number=int(input("Enter the values "))
    number_list.append(number)
print(number_list)

Enter the values 1
Enter the values 2
Enter the values 3
Enter the values 4
Enter the values 5
[1, 2, 3, 4, 5]

In [47]:
my_list=[1,2,3,4,5]
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [48]:
# append() is a function used in list to add a element in the list.
my_list.append(6)

In [49]:
my_list

[1, 2, 3, 4, 5, 6]

In [57]:
my_list.append(['a','b','c'])
my_list

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c']]

In [68]:
my_list.append("Saurabh")

In [60]:
# extend() is a function used to extend the list
my_list.extend([7])

In [69]:
my_list

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c'], 7, '@', '#', '$', 'Saurabh']

In [63]:
my_list.extend(['@','#',"$"])
my_list

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c'], 7, '@', '#', '$', '@', '#', '$']

In [67]:
my_list

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c'], 7, '@', '#', '$']

In [70]:
my_list.extend("moon")

NOTE :- The main difference between "append" and "extend" function is that 
        (a) The append is used to add the element in the list ,that can be like list inside list, tuple inside list ,string             inside the list, whereas 
        
        (b) In extend is it used just to extend or add the element in list in normal manner.

In [72]:
print(my_list)

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c'], 7, '@', '#', '$', 'Saurabh', 'm', 'o', 'o', 'n']

In [78]:
my_list.extend(["moon"])

In [79]:
my_list

[1, 2, 3, 4, 5, 6, ['a', 'b', 'c'], 7, '@', '#', '$', 'Saurabh', 'moon']

In [80]:
my_list.extend("Data Analyst")

In [81]:
my_list

[1,
 2,
 3,
 4,
 5,
 6,
 ['a', 'b', 'c'],
 7,
 '@',
 '#',
 '$',
 'Saurabh',
 'moon',
 'D',
 'a',
 't',
 'a',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 's',
 't']

In [82]:
# insert() is a function used to add the element in between the list with the help of the index number and the element to add.
my_list.insert(2,20)

In [83]:
my_list

[1,
 2,
 20,
 3,
 4,
 5,
 6,
 ['a', 'b', 'c'],
 7,
 '@',
 '#',
 '$',
 'Saurabh',
 'moon',
 'D',
 'a',
 't',
 'a',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 's',
 't']

In [84]:
len(my_list)

26

In [87]:
my_list[12]

'Saurabh'

In [88]:
# pop() is a function used to remove the element from a list.
# empty pop() function removes the last element from a list.
my_list.pop()

't'

In [89]:
# we can remove the middle element also with the help of its index number.
my_list.pop(2)

20

In [90]:
my_list

[1,
 2,
 3,
 4,
 5,
 6,
 ['a', 'b', 'c'],
 7,
 '@',
 '#',
 '$',
 'Saurabh',
 'moon',
 'D',
 'a',
 't',
 'a',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 's']

In [93]:
#copy() function is used to copy the entire list.
lis=my_list.copy()

In [94]:
lis

[1,
 2,
 3,
 4,
 5,
 6,
 ['a', 'b', 'c'],
 7,
 '@',
 '#',
 '$',
 'Saurabh',
 'moon',
 'D',
 'a',
 't',
 'a',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 's']

In [95]:
# remove () function is used to remove the first occurence of the value from a given list.
lis.remove(6)

In [96]:
lis

[1,
 2,
 3,
 4,
 5,
 ['a', 'b', 'c'],
 7,
 '@',
 '#',
 '$',
 'Saurabh',
 'moon',
 'D',
 'a',
 't',
 'a',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 's']

In [98]:
my_list.count('a')

3

In [100]:
lis

[1,
 2,
 3,
 4,
 5,
 ['a', 'b', 'c'],
 7,
 '@',
 '#',
 '$',
 'Saurabh',
 'moon',
 'D',
 'a',
 't',
 'a',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 's']

In [101]:
lis.count("A")

1

In [106]:
lis.count('$')

1

In [109]:
my_list.count("a")

3

In [113]:
a=[1, 2, 4, 5, 7, [2, 3, 4], [2, 3, 4], 6, 3,3,3,3]

In [114]:
a.count(3)

4

In [115]:
my_list.reverse()

In [116]:
my_list

['s',
 'y',
 'l',
 'a',
 'n',
 'A',
 ' ',
 'a',
 't',
 'a',
 'D',
 'moon',
 'Saurabh',
 '$',
 '#',
 '@',
 7,
 ['a', 'b', 'c'],
 6,
 5,
 4,
 3,
 2,
 1]

In [117]:
# This shows error becaz in the list there are list, string,and integer values which is not allowed in the sort.
my_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [118]:
# to sort the list we must have the same tyoe of data in it.
s=[23,1,5,2,50,76]
s.sort()

In [119]:
print(s)

[1, 2, 5, 23, 50, 76]

NOTE :- sort() is a function used to arrange the data in the ascending order.

In [120]:
my_list

[' ',
 '#',
 '$',
 '@',
 'A',
 'D',
 'Saurabh',
 'a',
 'a',
 'a',
 'l',
 'moon',
 'n',
 's',
 't',
 'y',
 7,
 ['a', 'b', 'c'],
 6,
 5,
 4,
 3,
 2,
 1]

In [121]:
lis

[1,
 2,
 3,
 4,
 5,
 ['a', 'b', 'c'],
 7,
 '@',
 '#',
 '$',
 'Saurabh',
 'moon',
 'D',
 'a',
 't',
 'a',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 's']

In [128]:
# To get the inner list value we can do this with the help of indexing.
lis[10][1]

'a'