### Function

(1).function can be built-in and user_defined functions or methods that are used to call the values present in a function.

In [4]:
#Syntax:
def a():
    return

In [5]:
# making name storing function.
def name():
    li=[]
    num=5
    for i in range(num):
        user_name=input("Enter your name\n")
        li.append(user_name)
    return li

In [6]:
name()

Enter your name
saurabh
Enter your name
yogesh
Enter your name
abhishek
Enter your name
vicky
Enter your name
lucas

['saurabh', 'yogesh', 'abhishek', 'vicky', 'lucas']

In [10]:
# making functions based on *args
def add(a,b):
    c=a+b
    return c

In [11]:
add(2,3)

5

In [19]:
#basic substraction calculation code
def sub(a,b):
    print("Subtraction of given number\n")
    return print(a,"-",b,"=",a-b)

In [21]:
sub(15,3)

Subtraction of given number

15 - 3 = 12

In [29]:
# square number function
def sqr(a):
    print("Square number")
    b=a**2
    return b

In [30]:
sqr(10)

Square number

100

In [54]:
# function for area of cricle:
def circle_area(radius):
    a_c=3.14*radius*radius
    print("Area of circle\n")
    return a_c

In [57]:
circle_area(1)

Area of circle

3.14

In [72]:
# table generating function:
def table(a):
    n=11
    for i in range(n):
        print(a,"*",i,"=",a*i)
        
    return

In [73]:
table(5)

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [74]:
table(100)

100 * 0 = 0
100 * 1 = 100
100 * 2 = 200
100 * 3 = 300
100 * 4 = 400
100 * 5 = 500
100 * 6 = 600
100 * 7 = 700
100 * 8 = 800
100 * 9 = 900
100 * 10 = 1000

SyntaxError: invalid syntax (1152782067.py, line 1)

In [28]:
def even_num_list():
    num=int(input("provide us the range of a number\n"))
    print()
    for i in range(num):
        if i%2==0:
            print(i)
    return

In [29]:
even_num_list()

provide us the range of a number
22

0
2
4
6
8
10
12
14
16
18
20

In [22]:
def odd_num_list(num):
    for i in range(num):
        if i%2!=0:
            print(i)

In [23]:
odd_num_list(21)

1
3
5
7
9
11
13
15
17
19

##### Write a function that takes two numbers as arguments and returns their sum.

In [1]:
def addition(a,b):
    return a+b

In [2]:
addition(5,5)

10

##### 2.Create a function that calculates the factorial of a given number.

In [3]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    return fact

In [5]:
factorial(6)

720

##### 3.Define a function that checks whether a number is even or odd.

In [6]:
def check_even_odd(num):
    if num%2==0:
        print(f"{num} is a even number.")
    else:
        print(f"{num} is a odd number.")
    return

In [9]:
check_even_odd(1000)

1000 is a even number.

##### 4.Write a function to find the maximum of three numbers.

In [10]:
def maxi_num(a,b,c):
    return max(a,b,c)

In [11]:
maxi_num(3,4,2)

4

##### 5. Create a function that reverses a given string.

In [12]:
def reverse_str(string):
    c=string[::-1]
    return c

In [13]:
reverse_str("Saurabh")

'hbaruaS'

##### 6. Define a function that checks if a string is a palindrome.

In [14]:
def palindrome(a):
    if a==a[::-1]:
        print(f"{a} is a palindrome.")
        
    else:
        print(f"{a} is not a palindrome.")
        
    return

In [17]:
palindrome('dzd')

dzd is a palindrome.

##### 7.Write a function that takes a list of numbers and returns the average.

In [22]:
def list_avg(*a):
    l1=[]
    for i in a:
        l1.append(i)
    c=sum(l1)//len(l1) # i used // to get the int division of a number.
    return c

In [23]:
list_avg(1,2,3,4,5)

3

##### 8. Define a function that calculates the area of a circle given its radius.

In [27]:
def area_of_circle(radius):
    a_c=3.14*radius*radius  # here i can do radius**2 as well.
    return a_c

In [26]:
area_of_circle(5)

78.5

In [28]:
area_of_circle(5)

78.5

##### 9.Write a function to convert Celsius to Fahrenheit.

In [40]:
def celsius_2_fahrenheit(a):
    f=(a*9/5)+32    # fromula for converting cel to fahre
    return print(f"{f} F")

In [41]:
celsius_2_fahrenheit(1)

33.8 F

##### 10. Create a function that counts the occurrences of a specific element in a list.

In [60]:
def count_list_occurance():
    l1=[1,2,3,4,1]
    s=set(l1)
    for i in s:
        c=l1.count(i)
        print(i,"=",c,"times")
        
    return

In [61]:
count_list_occurance()

1 = 2 times
2 = 1 times
3 = 1 times
4 = 1 times

In [88]:
# user input list count function.
def count_li(*a):
    b=[]
    for i in a:
        b.append(i)
    s=set(b)
    for j in s:
        c=b.count(j)
        print(j," --> ",c,"times")
        
    return

In [89]:
count_li(1,2,3,2,1,5,6)

1  -->  2 times
2  -->  2 times
3  -->  1 times
5  -->  1 times
6  -->  1 times

##### 11.Define a function that takes a list of integers and returns a new list with only the even numbers.

In [102]:
def even_num_list(*a):
    l1_int=[]
    for i in a:
        l1_int.append(i) # appended the user provided number in a list
        
    l2_even=[]        # created a new list for stroing the even numbers in it from the user provided numbers
    for j in l1_int:
        if j%2==0:
            l2_even.append(j)  # stored a numbers in a l2_even list
    c=sorted(l2_even)          # sorted() is used here to arrange the data in a ascending order.
    
    return print(f"original list\n{l1_int}\n\nEven list\n{c}")

In [103]:
even_num_list(1,2,3,4,5,6,7,8,9,0,100,200,13,14)

original list
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 100, 200, 13, 14]

Even list
[0, 2, 4, 6, 8, 14, 100, 200]

##### 12. Write a function that concatenates two lists.

In [116]:
def combine_list(list1,list2):
    c=list1+list2
    return c

In [117]:
a=[1,2,3,4,5]
b=[6,7,8,9,0]
combine_list(a,b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

##### 13. Define a function that takes a list of strings and returns the longest one.

In [141]:
def longest_one(*a):
    l1=[]
    for i in a:
        if type(i)==str:
            l1.append(i)
            
    return max(l1,key=len)

In [143]:
longest_one('1','saurabh','asdfghkq')

'asdfghkq'

##### 14. Write a function that sorts a list of integers in ascending order.

In [194]:
def sort_list(list1):
    if type(list1)==list:
        c=sorted(list1)
    
 
        
    
    return c

In [196]:
a=[1,5,6,7,2,3,4,9,0]
b=(0,9,8,7,23,4)
sort_list(b)

UnboundLocalError: local variable 'c' referenced before assignment

In [5]:
# function to print the square star pattern.

def square_star(a,b):
    for i in range(a):
        for j in range(b):
            print("*",end="  ")
        print()
    return

In [6]:
square_star(5,6)

*  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *

In [9]:
# right angle triangle pattern
def right_angle_triangle(num):
    for i in range(num):
        for j in range(i+1):
            print("*",end=" ")
        print()
        
    return

In [10]:
right_angle_triangle(5)

*
* *
* * *
* * * *
* * * * *

In [18]:
def ri_angle_triangle(num):
    for i in range(num):
        for j in range(i,num):
            print("*",end=" ")
        print()
        
    return

In [19]:
ri_angle_triangle(5)

* * * * *
* * * *
* * *
* *
*